# Compiled class files
*.class

# Log files
*.log

# Package files
*.jar
*.war
*.ear

# NetBeans project files
/nbproject/private/
/nbproject/Makefile-*
/nbproject/Package-*
/nbproject/*.jar
/nbproject/dist/
/nbproject/build/
/nbproject/nbbuild/
/nbproject/GeneratedSources/
/nbproject/coverage/
/nbproject/test/
/nbproject/backup/

# VS Code project files
.vscode/
*.code-workspace

# Build output
/target/
/out/
/build/

# IDE-specific files
.idea/
*.iml
*.ipr
*.iws